    <h1>Contact</h1>
    <p>Phone: 404.580.8033</p>
    <p>To inquire about Kozi throws, check the respective boxes and fill out the form!</p>
  <form action="/contact" method="post" name="contact" id="contact">
  <input type='hidden' name='submityes' value='yes' />
  <input type='hidden' name='fantasticalItems' id='fantasticalItems' value='' />
  <input type='hidden' name='natureItems' id='natureItems' value='' />
  <input type='hidden' name='plushtasticItems' id='plushtasticItems' value='' />
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
          <h3>Personal Information</h3>
          <table cellpadding="2" cellspacing="0" border="0">
            <tr>
              <td>Name:</td>
              <td><input type="text" name="fullname" id="fullname" class="inputClass" /></td>
            </tr>
            <tr>
              <td>Email:</td>
              <td><input type="text" name="email" id="email" class="inputClass" /></td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td><input type="text" name="phone" id="phone" class="inputClass" /></td>
            </tr>
            <tr>
              <td>Comments:</td>
              <td><textarea name="comments" class="inputClass" rows="7"></textarea></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
     		  <td><input type="submit" name="Submit" value="Contact Us!" /></td>
            </tr>
          </table>
      </td>
      <td>
      	<% @productlines.each do |pl| %>
	        <div id="<%= pl.title %>lDiv" style="float:left;padding-left:15px;">
	        <h3><%= pl.title.length == 11 ? pl.title.capitalize : "Nature" %></h3>
	        <table cellpadding="2" cellspacing="0" border="0">
	        	<% count = 1 %>
	        	<% pl.products.each do |product| %>
	          <tr>
	            <td><input type="checkbox" name="check<%= pl.title.length == 11 ? pl.title.downcase : "nature" %><%= count += 1 %>" value="<%= product.name %>" /></td>
	            <td class="contactChoice"><%= product.name %></td>
	          </tr>
	          <% end %>
	        </table>
	        </div>   
	      <% end %>
     </td>
    </tr>
  </table>
</form>