<h1 class="product"><span class="de-empahsis">> <%= "<a href='/products/#{@product.productline.url_name}' style='color:#909090;' >#{@product.productline.title}</a>" %></span> > <%= @product.name %></h1>
<div class="<%= 'bottomBorder' if @product.pillows %>">
	<img src="/img/products/banners/<%= @product.url_name %>.jpg" />
	<h2 class="productName"><%= @product.name %></h2>
	<a id="single_image" href="/img/products/zoomed/<%= @product.url_name %>.jpg">
		<img class="right" src="/img/products/enlarge/<%= @product.url_name %>.jpg" />
	</a>
	<%= "<p class='specs'>#{@product.description}</p>" if @product.description %>
	<%= "<p class='specs'>#{@product.specs}</p>" if @product.specs %>
</div>
<% if @product.pillows  %>
	<div class="pillows">
		<% if @product.pillows.include? "<img" %>
			<%= @product.pillows %>
		<% else %>
			<img class="right" src="/img/products/pillows/<%= @product.pillows %>" />
		<% end %>
		<h2>Pillows Available In</h2>
		<ul class="unstlyled">
			<li>Size 24" by 24"</li>
			<li>Size 18" by 18"</li>
			<li>Size 16" by 12"</li>
		</ul>
		<% if @product.productline.url_name == 'plushtastic' %>
			<p>*Machine Washable</p>
		<% else %>
			<p>*dry-clean only</p>
		<% end %>
	</div>
<% end %>
	